<% provide(:title, @user.username) %>
<%= stylesheet_link_tag "topics", :media => "all" %>
<%= stylesheet_link_tag "users", :media => "all" %>

<div class='common-left'>
  <div class='user-left'>
    <%= image_tag @user.avatar.url(:medium), class: 'avatar' %>
    <ul>
      <li>用户名: <%= @user.username %></li>
      <li>性别: <%= @user.gender == 1 ? '男' : '女' %></li>
      <li>城市: <%= @user.location %></li>
      <% if current_user?(@user) %>
        <li><%= link_to "编辑", edit_user_path(current_user), class: "edit" %></li>
      <% end %>
    </ul>
  </div>

  <div class='topic-list' style="float:left;margin-top:20px">
    <h3>已发布帖子</h3>
    <ul>
      <%= render @topics %>
    </ul>
    <%= will_paginate @topics %>
  </div>
</div>

<div class='common-right'>
</div>